.navbar-item-custom,
.navbar-item-custom a {
  color: #fff;
}

/* .product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
} */

/* .product-item {
  font-size: 14px;
  display: block;
  margin-bottom: 2px;
}

.product-item .product-price {
  font-size: 14px;
} */
